html body {
  background: #c1c0bf; }
  html body .main {
    background: url(../img/img-1.png) no-repeat left top;
    overflow: hidden; }
    html body .main .about-cont {
      width: 1000px;
      height: 100%;
      margin-left: auto;
      margin-right: 100px; }
      html body .main .about-cont .col-left, html body .main .about-cont .col-right {
        width: 50%;
        padding-top: 70px;
        float: left;
        height: 100%;
        color: #24211d; }
        html body .main .about-cont .col-left .h1, html body .main .about-cont .col-right .h1 {
          font-size: 2em; }
        html body .main .about-cont .col-left .h2, html body .main .about-cont .col-right .h2 {
          font-size: 1.375em; }
      html body .main .about-cont .col-left div, html body .main .about-cont .col-left img {
        padding-left: 200px; }
      html body .main .about-cont .col-left .history {
        padding-top: 160px; }
        html body .main .about-cont .col-left .history ul {
          padding-top: 30px; }
          html body .main .about-cont .col-left .history ul li a {
            color: #24211d; }
            html body .main .about-cont .col-left .history ul li a span {
              font-size: 1.125em; }
              html body .main .about-cont .col-left .history ul li a span:first-child {
                display: inline-block;
                float: left; }
              html body .main .about-cont .col-left .history ul li a span:last-child {
                display: inline-block;
                width: 400px; }
      html body .main .about-cont .col-right ul {
        margin-top: 30px;
        height: 580px;
        overflow-y: scroll; }
        html body .main .about-cont .col-right ul li {
          border-bottom: 1px dotted;
          font-size: 18px;
          line-height: 1.5em; }
          html body .main .about-cont .col-right ul li a {
            color: #24211d;
            text-decoration: none; }
            html body .main .about-cont .col-right ul li a .news {
              color: #cc0000;
              font-size: 16px;
              padding-left: 6px; }
            html body .main .about-cont .col-right ul li a span:last-child {
              float: right; }
