body .main {
  position: relative; }
  body .main .left {
    float: left;
    width: 60%;
    height: 100%;
    background: #fff;
    overflow: hidden; }
  body .main .right {
    float: left;
    width: 40%;
    height: 100%;
    position: relative;
    background: #3a3734; }
    body .main .right .middle-floater {
      top: 50%;
      margin-bottom: -180px; }
    body .main .right .icon {
      position: absolute;
      left: -10px;
      top: 50%; }
    body .main .right .cont {
      width: 356px;
      height: 360px;
      margin: 0 auto;
      position: relative; }
      body .main .right .cont .h1 {
        font-size: 1.571em;
        display: block; }
      body .main .right .cont .h2 {
        font-size: 1em;
        display: block; }
      body .main .right .cont p {
        font-size: 0.875em;
        margin: 1.429em 0; }
