html {
  height: 100%; }
  html body {
    height: 100%;
    background: url(../img/home-bg-min.png) no-repeat;
    background-size: cover; }
    html body .home-title {
      text-align: center;
      padding-top: 200px; }
      html body .home-title img {
        width: 488px; }
    html body .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }

.nav {
  text-align: center; }
  .nav .menu {
    list-style: none;
    margin: 0 auto;
    padding: 0; }
    .nav .menu li {
      display: inline-block;
      margin: 0 1.2em; }
      .nav .menu li a {
        text-decoration: none;
        font-size: 1.375em;
        color: #fff; }
      .nav .menu li .menu-content li {
        margin: 0;
        text-align: left;
        display: block; }
        .nav .menu li .menu-content li a {
          font-size: 0.7em;
          padding: 7px 0; }
