body {
  height: 100%;
  min-width: 1024px; }
  body .top-header {
    text-align: center;
    padding: 20px 0;
    background: #24211B; }
  body .footer {
    height: 32px;
    background: #716F6E;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 10px; }
    body .footer span {
      line-height: 32px;
      padding-right: 10px; }
      body .footer span a {
        color: #fff;
        text-decoration: none; }
  body .top-menu {
    margin: 0 auto;
    background: #fff;
    height: 32px;
    padding-bottom: 1px; }
    body .top-menu ul {
      width: 760px;
      margin: 0 auto; }
      body .top-menu ul li {
        float: left;
        line-height: 32px;
        cursor: pointer; }
        body .top-menu ul li.item {
          margin-left: 64px; }
        body .top-menu ul li:hover a {
          text-decoration: underline; }
        body .top-menu ul li a {
          color: #24211d;
          font-size: 0.875em; }
