html {
  height: 100%;
  font-family: Arial,"Microsoft Yahei"; }
  html body {
    height: 100%;
    background: #24211B; }

.row {
  width: 100%;
  margin: 0 auto; }
  .row:before {
    content: ' ';
    display: table; }
  .row:after {
    content: ' ';
    display: table;
    clear: both; }
