html body .txt {
  background: #000;
  overflow: hidden; }
  html body .txt .h1 {
    font-size: 32px;
    padding-top: 120px;
    padding-left: 70px; }
  html body .txt .h2 {
    font-size: 22px;
    padding-left: 70px; }
  html body .txt img {
    padding-left: 70px; }
html body .polt {
  width: 400px;
  height: 372px;
  display: inline-block;
  float: left;
  margin-bottom: 1px; }
