html body .main .left {
  width: 60%;
  float: left;
  overflow: hidden;
  position: relative; }
  html body .main .left .logo {
    position: absolute;
    opacity: 0; }
html body .main .right {
  width: 40%;
  float: left;
  background: #24211d;
  position: relative; }
  html body .main .right .icon {
    position: absolute;
    left: -10px;
    top: 50%; }
  html body .main .right .cont {
    width: 356px;
    margin: 0 auto;
    position: relative; }
    html body .main .right .cont .h1 {
      font-size: 22px; }
    html body .main .right .cont .h2 {
      font-size: 16px; }
    html body .main .right .cont p, html body .main .right .cont li {
      font-size: 14px; }
    html body .main .right .cont a {
      color: #fff;
      text-decoration: none; }
      html body .main .right .cont a:hover {
        text-decoration: underline; }
