html{
  body{
    .main{
      .left{
        width:60%;
        float:left;
        overflow:hidden;
        position:relative;
        .logo{
          position:absolute;
          opacity:0;
        }
      }// END .left
      .right{
        width:40%;
        float:left;
        background:#c1a25f;
        position:relative;
        .icon{
          position:absolute;
          left:-10px;
          top:50%;
        }
        .cont{
          width:356px;
          margin:0 auto;
          position:relative;
          .h1{
            font-size:22px;
          }
          .h2{
            font-size:16px;
          }
          p,li{
            font-size:14px;
          }
          a{
            color:#fff;
            text-decoration:none;
            &:hover{
              text-decoration:underline;
            }
          }
        }
      }// END .right
    }// END .main
  }// END body
}// END html
