body{
  .main{
    position:relative;
    .left{
      float:left;
      width:60%;
      height:100%;
      background:#fff;
      overflow:hidden;
    }// END of left
    .right{
      float:left;
      width:40%;
      height:100%;
      position:relative;
      .middle-floater{
        top:50%;
        margin-bottom:-180px;
      }
      .icon{
        position:absolute;
        left:-10px;
        top:50%;
      }
      .cont{
        width:356px;
        height:360px;
        margin:0 auto;
        .h1{
          font-size:1.571em;
          display:block;
        }
        .h2{
          font-size:1em;
          display:block;
        }
        p{
          font-size:0.875em;
          margin:1.429em 0;
        }
      }
    }// End of right
  }// End of main
}
