html {
  height: 100%;
  body {
    height: 100%;
    overflow:hidden;

    .wrapper{
      position:relative;
      width:100%;
      height:100%;
      overflow:hidden;
      .div-bg{
        z-index:1;
      }

      .div-bg{
        position:absolute;
        left:0;
        top:0;
        height:100%;
        display:none;
        &.active{
          display:block;
        }
      }
    }

    .home-title {
      position:absolute;
      z-index:2;
      text-align: center;
      width:100%;
      top:0;
      padding-top: 200px;
      img {
        width: 488px;
      }
    }
  }
}

// menu navigration
.nav {
  position:absolute;
  top:320px;
  z-index:3;
  margin-top:1em;
  text-align: center;
  .menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 1.2em;
      a {
        text-decoration: none;
        font-size: 1.375em;
        color: #ccc;
        padding-bottom:1em;
        &:hover{
          color:#fff;
        }
      }
      // li.active
      &.active{
        a{
          color:#fff;
          border-bottom:2px solid #fff;
        }
        .menu-content{
          li{
            a{
              border-bottom:none;
            }
          }
        }
      }
      .menu-content {
        padding-top:1.3em;
        li {
          margin: 0;
          text-align: left;
          display: block;
          a {
            font-size: 0.875em;
            padding: 1em 0;
            color:#ccc;
            &:hover{
              color:#fff;
            }
          }
        }
      }
    }
  }
}
