html {
  height: 100%;
  body {
    height: 100%;
    background: url(../img/home-bg-min.png) no-repeat center;
    background-size: cover;
    .home-title {
      text-align: center;
      padding-top: 170px;
      img {
        width: 488px;
      }
    }
    .mask{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.4);
    }
  }
}

// menu navigration
.nav {
  text-align: center;
  .menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 1.2em;
      a {
        text-decoration: none;
        font-size: 1.375em;
        color: #ccc;
        padding-bottom:1em;
        &:hover{
          color:#fff;
        }
      }
      // li.active
      &.active{
        a{
          color:#fff;
          border-bottom:2px solid #fff;
        }
        .menu-content{
          li{
            a{
              border-bottom:none;
            }
          }
        }
      }
      .menu-content {
        padding-top:1.3em;
        li {
          margin: 0;
          text-align: left;
          display: block;
          a {
            font-size: 0.875em;
            padding: 1em 0;
            color:#ccc;
            &:hover{
              color:#fff;
            }
          }
        }
      }
    }
  }
}
