body{
  height:100%;
  min-width:1024px;
  .top-header{
    text-align:center;
    padding:20px 0;
    background:#24211B;
  }// End of top header
  .footer{
    height:32px;
    background:#716F6E;
    position:fixed;
    bottom:0;
    text-align:center;
    color:#fff;
    font-size:10px;
    span{
      line-height:32px;
      padding-right:10px;
      a{
        color:#fff;
        text-decoration:none;
      }
    }
  }// End of footer
  .top-menu{
    margin:0 auto;
    background:#fff;
    height:32px;
    padding-bottom:1px;
    position:relative;
    ul{
      width:760px;
      margin:0 auto;
      li{
        float:left;
        line-height:32px;
        cursor:pointer;
        &.item{
          margin-left:64px;
        }
        &:hover{
          a{
            text-decoration:underline;
          }
        }
        a{
          color:#24211d;
          font-size:0.875em;
          text-decoration:none;
        }
      }
    }// End of ul
    .sub-menu{
      position:absolute;
      z-index:99;
      width:100%;
      color:#24211d;
      display:none;
      background:rgba(0,0,0,0.7);
      filter:alpha(opacity=70);
      left:0;
      .inner{
        width:760px;
        margin:0 auto;
        .item-first{
          margin-left:0px;
        }
        .item{
          padding:1em 0;
          a{
            font-size:0.75em;//14px;
            color:#fff;
            line-height:1.4em;
            text-decoration:none;
            &:hover{
            text-decoration:underline;
            }
          }
        }// END .item
      }// END .inner
      .item-first{
        margin-top:0;
      }
    }// END .sub-menu
  }// End of menu
}

// commont for h1,h2
.main{
  padding-bottom:32px;
  .right{
    .h1,.h2,.h3{
      display:block;
    }
    .h1{
      font-size:2em;//32px;
    }
    .h2{
      font-size:1.375em;//22px;
    }
    .h3{
      font-size:1em;//16px;
    }
  }
}
.clear-both{
  clear:both;
}
