html{
  body{
    background:#24211d;
    .main{
      position:relative;
      padding-left:200px;
      padding-top:40px;
      .logo{
        width:296px;
        margin-bottom:183px;
      }
      .large{
        font-size:92px;
        color:#fff;
      }

  
    }// END .main
  }// END body
}// END html
