.row.footer
  span 网站链接:
  span 古方印象天猫旗舰店:
    a(href="http://gufangyinxiang.tmall.com") http://gufangyinxiang.tmall.com
  span X3公社天猫旗舰店:
    a(href="http://x3commune.tmall.com") http://x3commune.tmall.com
  span X3公社原创设计师店:
    a(href="http://sunjet-x2.tmall.com") http://sunjet-x2.tmall.com

script(src="js/vendor/jquery-1.10.2.min.js")
script(src="js/vendor/jquery-ui.js")
script(src="js/vendor/imgLiquid.js")
script(src="js/vendor/jquery.mousewheel.js")
script(src="js/vendor/jquery.jscrollpane.min.js")
script(src="js/vendor/TweenMax-1.11.4.min.js")
script(src="js/plugins.js")
script(src="js/layout.js")
script(src="js/main.js")
if pageJS
  script(src=pageJS)
script.
  initLayout(#{pageHeight});
