.row.top-header
  img(src="img/index-guchuang-light-min.png")
// top menu
.row.top-menu
  ul
    li
      a(href="home2.html") 首页
    li.item
      a(href="about2.html") 关于公司
    li.item.has-sub-menu
      a(href="javascript:void(0)") SUNJET新杰良品
      .sub-menu
        .inner
          ul
            li.item.item-first
              a(href="#")
                div BRAND INTRODUCTION
                div 品牌介绍
            li.item
              a(href="#")
                div STORE IMAGE
                div 店面形象
            li.item
              a(href="#")
                div SPRODUCT PICTURE ALBUM
                div 产品画册
    li.item.has-sub-menu
      a(href="javascript:void(0)") X2HOMME
      .sub-menu
        .inner
          ul
            li.item.item-first
              a(href="#")
                div BRAND INTRODUCTION
                div 品牌介绍
            li.item
              a(href="#")
                div STORE IMAGE
                div 店面形象
            li.item
              a(href="#")
                div SPRODUCT PICTURE ALBUM
                div 产品画册
    li.item.has-sub-menu
      a(href="javascript:void(0)") GFI古方印象
      .sub-menu
        .inner
          ul
            li.item.item-first
              a(href="#")
                div BRAND INTRODUCTION
                div 品牌介绍
            li.item
              a(href="#")
                div BRAND INTRODUCTION
                div 品牌缘起
            li.item
              a(href="#")
                div VCR APPRECIATE
                div 影像欣赏
    li.item.has-sub-menu
      a(href="javascript:void(0)") X3COMMUNE
      .sub-menu
        .inner
          ul
            li.item.item-first
              a(href="#")
                div BRAND INTRODUCTION
                div 品牌介绍
            li.item
              a(href="#")
                div BRAND INTRODUCTION
                div 品牌缘起
            li.item
              a(href="#")
                div VCR APPRECIATE
                div 影像欣赏



