.row.top-header
  img(src="img/index-guchuang-light-min.png")
// top menu
.row.top-menu
  ul
    li
      a(href="home2.html") 首页
    li.item
      a(href="about.html") 关于公司
    li.item.has-sub-menu
      a(href="javascript:void(0)") SUNJET新杰良品
      .sub-menu
        .item.item-first
          div BRAND INTRODUCTION
          div 品牌介绍
        .item
          div STORE IMAGE
          div 店面形象
        .item
          div SPRODUCT PICTURE ALBUM
          div 产品画册



