doctype html
- var pageClass="css/about2.css"
- var title="公司资讯" 
- var pageHeight = 932
- var pageJS = "js/about2.js"
html
  include _header
  body
    include _top_header
    .main.row
      .about-cont
        .col-left
          .h1 COMPANY
          .h1 INFORMATION
          .h2 公司资讯
          img(src="img/right-bottom-black-arrow.png")
        .col-right
          .title 资讯简报 企业大世纪
          ul
            li
              a(href="zixun.html")
                span 迎福纳瑞-会筹备中
                span.news news
                span 2013-11-30
            li
              a(href="zixun.html")
                span 2014-优秀员工评比通知
                span.news news
                span 2013-11-25
            li
              a(href="zixun.html")
                span 2014-春装订货会圆满成功
                span 2013-10-25
            li
              a(href="zixun.html")
                span 温暖冬天，向四川赠衣物
                span 2013-10-08
            li
              a(href="zixun.html")
                span 欢度国庆
                span 2013-09-30
            li
              a(href="zixun.html")
                span 听潮声、赏圆-
                span 2013-09-18
            li
              a(href="zixun.html")
                span 集结号---14-春装发布会通告
                span 2013-09-15
            li
              a(href="zixun.html")
                span 贺X3COMMUNE形象大片完成。
                span 2013-09-01
            li
              a(href="zixun.html")
                span 恭贺13-冬装订货会圆满成功
                span 2013-08-28
            li
              a(href="zixun.html")
                span 欢送“新杰小候鸟”暑期班
                span 2013-08-25
            li
              a(href="zixun.html")
                span 迎福纳瑞-会筹备中
                span 2013-11-30
            li
              a(href="zixun.html")
                span 2014-优秀员工评比通知
                span 2013-11-25
            li
              a(href="zixun.html")
                span 2014-春装订货会圆满成功
                span 2013-10-25
            li
              a(href="zixun.html")
                span 温暖冬天，向四川赠衣物
                span 2013-10-08
            li
              a(href="zixun.html")
                span 欢度国庆
                span 2013-09-30
            li
              a(href="zixun.html")
                span 听潮声、赏圆-
                span 2013-09-18
            li
              a(href="zixun.html")
                span 集结号---14-春装发布会通告
                span 2013-09-15
            li
              a(href="zixun.html")
                span 贺X3COMMUNE形象大片完成。
                span 2013-09-01
            li
              a(href="zixun.html")
                span 恭贺13-冬装订货会圆满成功
                span 2013-08-28
            li
              a(href="zixun.html")
                span 欢送“新杰小候鸟”暑期班
                span 2013-08-25
            li
              a(href="zixun.html")
                span 迎福纳瑞-会筹备中
                span 2013-11-30
            li
              a(href="zixun.html")
                span 2014-优秀员工评比通知
                span 2013-11-25
            li
              a(href="zixun.html")
                span 2014-春装订货会圆满成功
                span 2013-10-25
            li
              a(href="zixun.html")
                span 温暖冬天，向四川赠衣物
                span 2013-10-08
            li
              a(href="zixun.html")
                span 欢度国庆
                span 2013-09-30
            li
              a(href="zixun.html")
                span 听潮声、赏圆-
                span 2013-09-18
            li
              a(href="zixun.html")
                span 集结号---14-春装发布会通告
                span 2013-09-15
            li
              a(href="zixun.html")
                span 贺X3COMMUNE形象大片完成。
                span 2013-09-01
            li
              a(href="zixun.html")
                span 恭贺13-冬装订货会圆满成功
                span 2013-08-28
            li
              a(href="zixun.html")
                span 欢送“新杰小候鸟”暑期班
                span 2013-08-25
            li
              a(href="zixun.html")
                span 迎福纳瑞-会筹备中
                span 2013-11-30
            li
              a(href="zixun.html")
                span 2014-优秀员工评比通知
                span 2013-11-25
            li
              a(href="zixun.html")
                span 2014-春装订货会圆满成功
                span 2013-10-25
            li
              a(href="zixun.html")
                span 温暖冬天，向四川赠衣物
                span 2013-10-08
            li
              a(href="zixun.html")
                span 欢度国庆
                span 2013-09-30
            li
              a(href="zixun.html")
                span 听潮声、赏圆-
                span 2013-09-18
            li
              a(href="zixun.html")
                span 集结号---14-春装发布会通告
                span 2013-09-15
            li
              a(href="zixun.html")
                span 贺X3COMMUNE形象大片完成。
                span 2013-09-01
            li
              a(href="zixun.html")
                span 恭贺13-冬装订货会圆满成功
                span 2013-08-28
            li
              a(href="zixun.html")
                span 欢送“新杰小候鸟”暑期班
                span 2013-08-25
          
    include _foot
    script.
      $(function(){
        $('.col-right ul').jScrollPane();
      });

