doctype html
- var pageClass="css/about2.css"
- var title="公司资讯" 
- var pageHeight = 932
- var pageJS = "js/about2.js"
html
  include _header
  body
    include _top_header
    .main.row
      .about-cont
        .col-left
          .h1 COMPANY
          .h1 INFORMATION
          .h2 公司资讯
          img(src="img/right-bottom-black-arrow.png")
          .history
            .title 企业大事记
            ul
              li
                a(href="#")
                  span 1992年：
                  span 创始人于杭州夜市销售自己淘选的服饰
              li 
                a(href="#")
                  span 1993年：
                  span 创始人在杭州西溪路开设服饰零售店
              li
                a(href="#")
                  span 1994年：
                  span 创始人在杭州环北市场涉足服装批发
              li
                a(href="#")
                  span 1998年：
                  span 进入杭州四季青转型成为男装批发商
              li
                a(href="#")
                  span 1999年：
                  span 创立了自己的实业，成为自主开发、生产、销售的男装供应商
              li
                a(href="#")
                  span 2000年：
                  span 在四季青打响了自己的第一个品牌“新杰良品”
              li
                a(href="#")
                  span 2003年：
                  span 建立杭州白石生产基地
              li
                a(href="#")
                  span 2004年：
                  span 在广州开设招商处，面向全国诚招省级代理商
              li
                a(href="#")
                  span 2005年：
                  span 因规模扩大，生产基地迁址海宁许村工业园（杭州乔司临界）拥有了占地10亩的自主产权厂区
              li
                a(href="#")
                  span 2012年：
                  span 隆重推出第三个品牌“X3COMMUNE”
              li
                a(href="#")
                  span 2013年
                  span 隆重推出第四个品牌“古方印象”电商实卖品牌
        .col-right
          .title 资讯简报
          ul
            li
              a(href="#")
                span 迎福纳瑞-会筹备中
                span 2013-11-30
            li
              a(href="#")
                span 2014-优秀员工评比通知
                span 2013-11-25
            li
              a(href="#")
                span 2014-春装订货会圆满成功
                span 2013-10-25
            li
              a(href="#")
                span 温暖冬天，向四川赠衣物
                span 2013-10-08
            li
              a(href="#")
                span 欢度国庆
                span 2013-09-30
            li
              a(href="#")
                span 听潮声、赏圆-
                span 2013-09-18
            li
              a(href="#")
                span 集结号---14-春装发布会通告
                span 2013-09-15
            li
              a(href="#")
                span 贺X3COMMUNE形象大片完成。
                span 2013-09-01
            li
              a(href="#")
                span 恭贺13-冬装订货会圆满成功
                span 2013-08-28
            li
              a(href="#")
                span 欢送“新杰小候鸟”暑期班
                span 2013-08-25
            li
              a(href="#")
                span 迎福纳瑞-会筹备中
                span 2013-11-30
            li
              a(href="#")
                span 2014-优秀员工评比通知
                span 2013-11-25
            li
              a(href="#")
                span 2014-春装订货会圆满成功
                span 2013-10-25
            li
              a(href="#")
                span 温暖冬天，向四川赠衣物
                span 2013-10-08
            li
              a(href="#")
                span 欢度国庆
                span 2013-09-30
            li
              a(href="#")
                span 听潮声、赏圆-
                span 2013-09-18
            li
              a(href="#")
                span 集结号---14-春装发布会通告
                span 2013-09-15
            li
              a(href="#")
                span 贺X3COMMUNE形象大片完成。
                span 2013-09-01
            li
              a(href="#")
                span 恭贺13-冬装订货会圆满成功
                span 2013-08-28
            li
              a(href="#")
                span 欢送“新杰小候鸟”暑期班
                span 2013-08-25
            li
              a(href="#")
                span 迎福纳瑞-会筹备中
                span 2013-11-30
            li
              a(href="#")
                span 2014-优秀员工评比通知
                span 2013-11-25
            li
              a(href="#")
                span 2014-春装订货会圆满成功
                span 2013-10-25
            li
              a(href="#")
                span 温暖冬天，向四川赠衣物
                span 2013-10-08
            li
              a(href="#")
                span 欢度国庆
                span 2013-09-30
            li
              a(href="#")
                span 听潮声、赏圆-
                span 2013-09-18
            li
              a(href="#")
                span 集结号---14-春装发布会通告
                span 2013-09-15
            li
              a(href="#")
                span 贺X3COMMUNE形象大片完成。
                span 2013-09-01
            li
              a(href="#")
                span 恭贺13-冬装订货会圆满成功
                span 2013-08-28
            li
              a(href="#")
                span 欢送“新杰小候鸟”暑期班
                span 2013-08-25
            li
              a(href="#")
                span 迎福纳瑞-会筹备中
                span 2013-11-30
            li
              a(href="#")
                span 2014-优秀员工评比通知
                span 2013-11-25
            li
              a(href="#")
                span 2014-春装订货会圆满成功
                span 2013-10-25
            li
              a(href="#")
                span 温暖冬天，向四川赠衣物
                span 2013-10-08
            li
              a(href="#")
                span 欢度国庆
                span 2013-09-30
            li
              a(href="#")
                span 听潮声、赏圆-
                span 2013-09-18
            li
              a(href="#")
                span 集结号---14-春装发布会通告
                span 2013-09-15
            li
              a(href="#")
                span 贺X3COMMUNE形象大片完成。
                span 2013-09-01
            li
              a(href="#")
                span 恭贺13-冬装订货会圆满成功
                span 2013-08-28
            li
              a(href="#")
                span 欢送“新杰小候鸟”暑期班
                span 2013-08-25
          
    include _foot

