doctype html
- var pageClass="css/xx.css"
- var pageJS = "js/xx.js"
- var title="品牌缘起" 
- var pageHeight = 900
html
  include _header
  body
    include _top_header
    .main.row.img-liquid-fill
      img(src="img/img-15.jpg" class="bg")

    include _foot

