doctype html
- var pageClass="css/gfyxyq.css"
- var pageJS = "js/gfyxyq.js"
- var title="品牌缘起" 
- var pageHeight = 900
html
  include _header
  body
    include _top_header
    .main.row.img-liquid-fill
      img(src="img/img-15.jpg" class="bg")
      .container
        img(src="img/yq-logo.png" class="logo")
        img(src="img/yqtitle.png" class="title")
        img(src="img/yqtxt.png" class="txt")

    include _foot

