doctype html
- var pageClass="css/gfyx.css"
- var title="古方印象" 
- var pageHeight = 900
- var pageJS = "js/gfyx.js"
html
  include _header
  body
    include _top_header
    .row.main
      .left.img-liquid-fill
        img(src="img/img-14.jpg" class="bg")
        img(src="img/gfyx-logo.png" class="logo")
      .right
        img(src="img/arrow-yellow.png" class="icon")
        .cont
          span.h1 BRAND INTRODUCTION
          span.h2 古方印象 · 品牌介绍
          p GFI古方印象是杭州古创服饰有限公司旗下四个品牌之一，也是古创在电子商务时代为更加贴合消费者需求而开发的一个全新的线上专供品牌，致力于为消费者提供崭新舒适的购物体验。
          p 古方印象以多元化的产品、充满活力的时尚的设计感为消费者提供品质优良、着重环保且价格合理的服装服饰。它不盲目随波逐流也不刻意复古。它倡导的是一种环保、自然、简约但又不失自我的创意生活态度。
          ul
            li 品牌诠释：活力时尚，创意生活
            li 销售渠道：天猫旗舰店
            li 销售群体：18-30岁网络青年
            li 天猫旗舰店：<a href="http://gufangyinxiang.tmall.com">http://gufangyinxiang.tmall.com</a>




    include _foot

