doctype html
- var pageClass="css/jiameng.css"
- var pageJS = "js/jiameng.js"
- var title="招商加盟" 
- var pageHeight = 900
html
  include _header
  body
    include _top_header
    .main.row
      .main-inner
        .left
          span.h1.mt10em CHINA
          span.h1 MERCHANTS
          span.h1 TO JOIN
          span.h2 招商加盟
          img(src='img/right-top-black-arrow.png', alt='')
        .right
          .merchant-cont
            span.h2 新杰良品&X2HOMME
            span.h1 省级代理商加盟政策
            .section
              .header 投资条件
              ul
                li 1、选取当地最热闹的批发店铺或档口。
                li 2、店铺面积30平方米以上。
                li 3、必须有同类产品的经营经验或有强烈的市场经营意识。
                li 4、必须认同公司企业文化、产品设计理念，配合公司进行市场管理的意识。
            .section.mt60
              .header 代理政策
              ul
                li 1、公司以定价方式向各代理客户进行供货。
                li 2、所有客户必须全款全上公司产品，以防露款影响销售。
                li 3、客户下单订货款式没有退货和调货。
                li 4、客户没有订单的产品公司以基础量上货（5首），销售过半和补单的自行处理，其他返还公司。
                li 5、公司提供必要的宣传资料（图片、画册等）。
                li 6、客户在销售过程中发现产品质量问题应及时反应给公司后再返回，经公司修复 后返还或减帐。
    include _foot