doctype html
- var pageClass="css/recruitment.css"
- var pageJS = "js/recruitment.js"
- var title="招聘" 
- var pageHeight = 700
html
  include _header
  body
    include _top_header
    .main.row
      .left
        img(src='img/img-3.jpg', alt='')
      .right
        .recruitment-cont
          span.h1 RECRUITMENT
          span.h2 招贤纳士
          span.h3 欢迎志同道合之士加入我们的时尚男装大家庭…
          span.h3 招聘岗位
          .section
            .header 优秀时尚男装设计师
            ul
              li 1、服装设计相关专业大专以上学历，有2年以上男装时尚品牌服装设计工作经验;
              li 2、思维敏捷，审美能力和创造力突出，对流行色和流行趋势敏感；
              li 3、熟练的设计软件操作能力;
              li 4、熟悉男装服装市场;
              li 5、熟悉面料的应用与制作工艺;
              li 6、责任心强、具有良好的沟通与协调能力，能承受工作压力。
            .text-row
              span 薪资待遇：
              div 底薪+提成+年终奖，享医社保、包食宿、法定节日。有出众能力者，待遇从优。具体面谈。
            .clear-both
          .more-info
            | ※更多岗位及具体招聘信息可参见前程无忧海宁市杰度服饰有限公司招聘页
    include _foot