doctype html
- var pageClass="css/store.css"
- var pageJS = "js/store.js"
- var title="店铺形象" 
- var pageHeight = 900
- var imgs = ['img/img-21.jpg','img/img-22.jpg','img/img-23.jpg']
html
  include _header
  body
    include _top_header
    .row(style="padding-bottom:32px;background:#fff")
      -for (var i = 0; i< 12; i++)
        if i==5
          .polt.txt
            .h1 STORE IMAGE
            .h2 店铺形象
            img(src="img/right-top-white-arrow.png")
        else
          .polt.img-liquid-fill
            img(src="#{imgs[i%3]}")
    include _foot

