doctype html
- var pageClass="css/jiameng.css"
- var title="test jade page" 
- var pageHeight = 900
- var pageJS = "js/test.js"
html
  include _header
  body
    include _top_header
    h1 This is test page
    include _foot

