doctype html
- var pageClass="css/about2.css"
- var pageJS = "js/about2.js"
- var title="新杰良品" 
- var pageHeight = 900
html
  include _header
  body
    include _top_header
    .main.row
      Here is the main content
    include _foot

