doctype html
- var pageClass="css/x2hm.css"
- var title="品牌介绍" 
- var pageHeight = 900
- var pageJS = "js/x2hm.js"
html
  include _header
  body
    include _top_header
    .row.main
      .left.img-liquid-fill
        img(src="img/img-17.jpg" class="bg")
        img(src="img/x2-logo.png" class="logo")
      .right
        img(src="img/arrow-green.png" class="icon")
        .cont
          span.h1 BRAND INTRODUCTION
          span.h2 X2HOMME · 品牌介绍
          p X2HOMME立足国内省代零售加盟模式，倡领"都市，时尚无疆界“的品牌主张。致力于满足25-40岁都市精英族群对不同场合的着装需求，对个性与品位的追求。
          p 由设计精英组成的研发团队时常穿梭于各大时尚之都，保持产品始终同步于国际级新流行趋势。让消费者轻松享受精品的舒适与精致，以星光熠熠的姿态行走于都市时尚的最前沿。
          ul
            li 品牌诠释：都市时尚，英伦风范
            li 销售渠道：省级代理、直营、加盟
            li 销售群体：25-40岁的都市精英

    include _foot
    script.
      $(function(){
        TweenLite.fromTo('.main .cont',2,{left:'1000'},{left:0});
      });

