doctype html
- var pageClass="css/x3hm.css"
- var title="品牌介绍" 
- var pageHeight = 900
- var pageJS = "js/x3hm.js"
html
  include _header
  body
    include _top_header
    .row.main
      .left.img-liquid-fill
        img(src="img/img-16.jpg" class="bg")
        img(src="img/x3-logo.png" class="logo")
      .right
        img(src="img/arrow-black.png" class="icon")
        .cont
          span.h1 BRAND INTRODUCTION
          span.h2 X³公社 · 品牌介绍
          p X³公社——来自英国的原创设计师潮流品牌，透过精美的细节处理让奢华不再过度张扬，呈现出耐人寻味的雅致和个性，让艺术的灵动感与机械的优雅气质融为一体。拒绝雷同，反对传统，提倡标新立异。
          p X³公社旨在超越社会的准则，进步到全新的时代，制造自己独有的精神乌托邦。落后与先进，未来与过去、现实与想象、魔幻与科学的元素相互融合，推陈出新中X³公社无不展示出男性的个人之美，款式上是西方设计的华丽绚烂和突出线条美，但在极高追求品质的面料和细节的裁剪上却是精细的东方手工制作工艺，体现出艺术和设计的完美融合，成为适合25 -35岁男人钟爱的X³公社。
          ul
            li 品牌诠释：时尚、奢华、原创、订制
            li 销售渠道：天猫旗舰店
            li 销售群体：25-35岁小众的、标新立异的、都市文艺范儿
            li 天猫旗舰店：<a href="http://x3commune.tmall.com">http://x3commune.tmall.com</a>
            li X3公社原创设计师店：<a href="http://sunjet-x2.tmall.com">http://sunjet-x2.tmall.com</a>




    include _foot

