doctype html
- var pageClass="css/xjlp.css"
- var title="test jade page" 
- var pageHeight = 900
- var pageJS = "js/xjlp.js"
html
  include _header
  body
    include _top_header
    .row.main
      .left.img-liquid-fill
        img(src="img/img-6.jpg" class="bg")
        img(src="img/xjlp-logo.png" class="logo")
      .right
        img(src="img/arrow-black2.png" class="icon")
        .cont
          span.h1 BRAND INTRODUCTION
          span.h2 新杰良品 品牌介绍
          p 新杰良品是杭州古创服饰有限公司于2003年自主创立注册的第一个本土休闲服男装品牌。目标消费者是18~30岁活力和时尚的年轻人群。品牌致力于打造 “一个年轻活力的领导男装品牌，流行时尚的产品， 大众化的价格”，倡导青春活力和个性时尚的品牌形象， 带给广大消费者富有活力个性时尚的休闲服饰。
          ul
            li 品牌诠释：创新、杰出、优良，品质
            li 销售渠道：省级代理、直营、加盟
            li 销售群体：18-25岁的都市潮男




    include _foot

