doctype html
- var pageClass="css/xjlp.css"
- var title="test jade page" 
- var pageHeight = 900
- var pageJS = "js/xjlp.js"
html
  include _header
  body
    include _top_header
    h1 This is xjlp
    include _foot

