doctype html
- var pageClass="css/yxxs.css"
- var pageJS = "js/xxx.js"
- var title="影像欣赏" 
- var pageHeight = 900
html
  include _header
  body
    include _top_header
    .main.row
      img(src="img/gfyx-logo.png" class="logo")
      .large VCR  APPRECIATE
      .large 影像欣赏
    include _foot

