doctype html
- var pageClass="css/zixun.css"
- var title="资讯" 
html
  include _header
  body
    include _top_header
    .main.row
      .zixun-cont
        .col-left
          a(href="about2.html")
            span.h1 COMPANY
            span.h1 INFORMATION
            span.h2 公司资讯
            img(src="img/left-black-arrow.png")
        .col-right
          .title
            span 2014公司感恩年会
          .content
            p 文案可由公司自行提供修改（以下为代替文案）
            p 新杰良品订货会时间：2013年12月27日
            p 新街良品订货会时间：2013年12月28日
            p 订货会地点：公司2楼新杰良品和X2HOMME展示（海宁许巷轻纺村工业园红合路287号）
            p 入住指定酒店：凯瑞大酒店*（杭州江干区杭海路1199号）
          .img-gallery
            .small-thumb
              .img-row
                img(src="http://lorempixel.com/180/110")
                img(src="http://lorempixel.com/180/110")
              .img-row
                img(src="http://lorempixel.com/180/110")
                img(src="http://lorempixel.com/180/110")
            .large-thumb
                img(src="http://lorempixel.com/360/230")
              
    include _foot

